.hidden {
  display: none;
}

.container {
  max-width: 576px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
}

.block {
  display: block;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .profile-page,
  .log-page {
    display: flex;
  }

  .profile-content,
  .log-content {
    flex-basis: 50%;
    margin: 1rem;
  }
}
