* {
  font-family: Inter, sans-serif;
}

header {
  margin: 0;
  background-color: #6e9a8f;
}

.navbar {
  margin-bottom: 2rem;
}

.fa-user {
  font-size: 1.5rem;
  color: black;
}

.nav-text,
.home-text {
  text-decoration: none;
  cursor: pointer;
  color: white;
  text-shadow:
    -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.home-text {
  margin-bottom: 0;
  color: #6e9a8f;
}

.mtb-logo {
  display: flex;
  flex-wrap: nowrap;
}

.mtb-image,
.home-mtb {
  height: fit-content;
  width: 60px;
  transform: rotate(0.9turn);
}

.home-mtb {
  width: 100px;
}

.profile-icon {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid black;
}

.create-log-wrapper,
.success-message,
.bike-form-wrapper,
.auth-form-wrapper {
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: #ddd;
  border: 1.5px solid black;
  border-radius: 0.25rem;
}

.bike-form-wrapper,
.auth-form-wrapper {
  padding-bottom: 2rem;
}

.log-wrapper {
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
}

.success-message {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

.success-log {
  padding: 5px;
}

.submit-button,
.view-logs-btn {
  margin-top: 2rem;
  width: 6.5rem;
  height: 2.5rem;
  background-color: #6e9a8f;
  color: white;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  font-size: 20px;
}

.view-logs-btn {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 18px;
  margin: 0;
}

input[type="file"] {
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  width: 100%;
  background-color: white;
  color: black;
}

::-webkit-file-upload-button {
  cursor: pointer;
  background-color: #6e9a8f;
  border: none;
  border-right: 1.5px solid black;
  color: white;
}

.text-box,
.location-search-input,
.auth-text-box {
  cursor: pointer;
  padding: 5px;
  height: 2rem;
  width: 100%;
  border: 1.5px solid black;
  border-radius: 0.25rem;
}

.date {
  color: black;
}

#caption {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  font-size: inherit;
}

.log-anchor,
.auth-anchor {
  cursor: pointer;
  color: #000;
}

.auth-anchor {
  font-size: 20px;
}

.accordion {
  margin-top: 2rem;
}

.blocks {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.header {
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
  background-color: lightgrey;
}

.content {
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-content {
  margin: 1rem;
}

.log-photo-wrapper img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 500px;
  border: 2px solid black;
}

.log-photo-wrapper,
.log-text {
  padding: 0.5rem;
}

.locations,
.add-bike {
  text-decoration: none;
  color: black;
}

.content:hover {
  background-color: #ddd;
}

.home-buttons,
.auth-wrapper {
  margin: 2rem;
}

.auth-input {
  font-size: 1.5rem;
}
