* {
  font-family: Inter, sans-serif;
}

header {
  margin: 0;
  background-color: #6e9a8f;
}

.navbar {
  margin-bottom: 2rem;
}

.fa-user {
  font-size: 1.5rem;
  color: black;
}

.nav-text,
.home-text {
  text-decoration: none;
  cursor: pointer;
  color: white;
  text-shadow:
    -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.home-text {
  margin-bottom: 0;
  color: #6e9a8f;
}

.mtb-logo {
  display: flex;
  flex-wrap: nowrap;
}

.mtb-image,
.home-mtb {
  height: fit-content;
  width: 60px;
  transform: rotate(0.9turn);
}

.home-mtb {
  width: 100px;
}

.profile-icon {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid black;
}

.create-log-wrapper,
.success-message,
.bike-form-wrapper,
.auth-form-wrapper {
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: #ddd;
  border: 1.5px solid black;
  border-radius: 0.25rem;
}

.bike-form-wrapper,
.auth-form-wrapper {
  padding-bottom: 2rem;
}

.log-wrapper {
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
}

.success-message {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

.success-log {
  padding: 5px;
}

.submit-button,
.view-logs-btn,
.edit-button {
  margin-top: 2rem;
  width: 6.5rem;
  height: 2.5rem;
  background-color: #6e9a8f;
  color: white;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  font-size: 20px;
}

.view-logs-btn {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 18px;
  margin: 0;
}

input[type="file"] {
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  width: 100%;
  background-color: white;
  color: black;
}

::-webkit-file-upload-button {
  cursor: pointer;
  background-color: #6e9a8f;
  border: none;
  border-right: 1.5px solid black;
  color: white;
}

.text-box,
.location-search-input,
.auth-text-box {
  cursor: pointer;
  padding: 5px;
  height: 2rem;
  width: 100%;
  border: 1.5px solid black;
  border-radius: 0.25rem;
}

.date {
  color: black;
}

#caption {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  font-size: inherit;
}

.log-anchor,
.auth-anchor,
.edit-button {
  cursor: pointer;
  color: #000;
}

.auth-anchor {
  font-size: 20px;
}

.accordion {
  margin-top: 2rem;
}

.blocks,
.ad-blocks,
.sign-out-block {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.ad-blocks,
.sign-out-block {
  cursor: pointer;
  border-radius: 0;
}

.sign-out-block {
  background-color: #6e9a8f;
}

.ad-blocks:hover {
  background-color: #ddd;
}

.header {
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
  background-color: lightgrey;
}

.content {
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-content {
  margin: 1rem;
}

.log-photo-wrapper img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 500px;
  border: 2px solid black;
}

.log-photo-wrapper,
.log-text {
  padding: 0.5rem;
}

.locations,
.add-bike,
.modal-links,
.delete-button {
  text-decoration: none;
  color: black;
}

.delete-button {
  background-color: red;
  border: 1.5px solid black;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  font-size: 18px;
}

.content:hover {
  background-color: #ddd;
}

.home-buttons,
.auth-wrapper {
  margin: 2rem;
}

.auth-input {
  font-size: 1.5rem;
}

.menu {
  position: absolute;
  width: 40%;
  background-color: white;
  z-index: 1;
  top: 80px;
  right: 0;
  min-height: 100vh;
}

.modal,
.log-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.sign-out-button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  background-color: #6e9a8f;
}

.fa-pencil {
  padding: 1rem;
  font-size: 1.5rem;
}

.log-modal-menu,
.delete-modal-menu {
  background-color: white;
  border: 2px solid black;
  z-index: 1;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.delete-modal-menu {
  padding: 1rem;
  width: 50%;
}

.full-log-buttons {
  margin-bottom: 2rem;
}

.go-back {
  font-size: 1.3rem;
  color: black;
  border: none;
  background-color: white;
  text-decoration: underline;
}
