* {
  font-family: Inter, sans-serif;
}

header {
  margin: 0;
  background-color: #6e9a8f;
}

.fa-user {
  font-size: 1.5rem;
  color: black;
}

.nav-text {
  color: white;
  text-shadow:
    -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.mtb-logo {
  display: flex;
  flex-wrap: nowrap;
}

.mtb-image {
  height: fit-content;
  width: 60px;
  transform: rotate(0.9turn);
}

.profile-icon {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid black;
}

.create-log-wrapper,
.success-message {
  margin: 0 2rem;
  padding: 0.5rem;
  background-color: #ddd;
  border: 1.5px solid black;
  border-radius: 0.25rem;
}

.success-message {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

.success-log {
  padding: 5px;
}

.submit-button,
.view-logs-btn {
  margin-top: 2rem;
  width: 6.5rem;
  height: 2.5rem;
  background-color: #6e9a8f;
  color: white;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  font-size: 20px;
}

.view-logs-btn {
  font-size: 18px;
  margin: 0;
}

input[type="file"] {
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  width: 100%;
  background-color: white;
  color: gray;
}

::-webkit-file-upload-button {
  cursor: pointer;
  background-color: #6e9a8f;
  border: none;
  border-right: 1.5px solid black;
  color: white;
}

.text-box,
.location-search-input {
  cursor: pointer;
  padding: 5px;
  height: 1.5rem;
  width: 100%;
  border: 1.5px solid black;
  border-radius: 0.25rem;
}

.date {
  color: gray;
}

#caption {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  font-size: inherit;
}

.log-anchor {
  cursor: pointer;
  color: #000;
}
